<h2 class="my-5">Hola!</h2>
<div>
    <h3>Mi nombre es <strong><%= params["nombre"] %></strong> y soy alumno del curso de <strong><%= params["curso"] %></strong>
</h3>
    <div><%= image_tag "rails_2", class:"imagen-rails" %></div>
</div>
<div>
    <%= params %>
</div>